body, div, p, h1 {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/background.png");
}

nav {
    width: 100vw;
    color: ghostwhite;
}

nav a {
    float: left;
    padding: 20px;
}

.menu:link {
    color: white;
    text-decoration: none;
}
.menu:hover {
    color: white;
    text-decoration: none;
}

.menu:active {
    color: white;
    text-decoration: none;
}
.menu:visited {
    color: white;
    text-decoration: none;
}

.page {
    position: relative;
    margin: 0 auto;
    height: 40vh;
    top: 40vh;
    width: 100vw;
    text-align: center;
}

.font {
    font-size: 20px;
    color: ghostwhite;
    font-family: 'Raleway', sans-serif;
}

.bold {
    font-weight: 600;
    font-size: 22px;
}

.sidebar {
    width: 240px;
    height: 100vh;
    position: fixed;
    z-index: 100;
    top:0;
    right: -240px;
    background-color: black;
}

.active {
    right: 0;
}