body, div, p, h1 {
    margin: 0;
    padding: 0;
}

body {
    background: url("../images/background.png") fixed;
    overflow: hidden;
}

nav {
    width: 100vw;
    color: ghostwhite;
    height: 30vh;
}

.navicon {
    z-index: 10;
    font-size: 20px;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

.navicon:link,
.navicon:hover,
.navicon:active,
.navicon:visited {
    color: white;
    text-decoration: none;
}

.font {
    font-size: 1.5em;
    color: ghostwhite;
    font-family: 'Raleway', sans-serif;
}

.font a:link,
.font a:visited,
.font a:active {
    color: #337ab7;
}
.font a:hover {
    color: #3ea4fc;
}

.bold {
    font-weight: 600;
    font-size: 1.2em;
}

.page {
    width: calc(100vw + 168px);
    height: 100vh;
    position: relative;
    left:0;
    top:0;
    transition: all 0.5s;
    display: flex;
}

.main {
    margin: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    position: relative;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

p {
    padding: 0 10px;
    color: ghostwhite;
}

.sidebar {
    width: 168px;
    min-width: 168px;
    height: 100vh;
    background-color: #337ab7;
}

.sidebar div {
    padding: 20px 20px 0;
}

.find-me {
    padding: 20px 20px 0;
    font-family: 'Raleway', sans-serif;
}

.sidebar div a img, .sidebar div a span {
    vertical-align: middle;
}

.sidebar div a img {
    padding-right: 10px;
}

.sidebar a:link,
.sidebar a:visited,
.sidebar a:hover,
.sidebar a:active {
    color: ghostwhite;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

.sidebar a:hover span {
    font-weight: 600;
}

.sidebar a:hover img {
    transform: scale(1.2);
}

.active {
    left: -168px;
}

@media screen and (max-width: 767px) {
    .page {
        width: 100vw;
        height: auto;
        flex-direction: column;
    }

    .main {
        width: 100%;
    }
    .sidebar {
        width: 100%;
        padding: 5px 0;
        height: auto;
        text-align: center;
        position: absolute;
        bottom: -20%;
        display: flex;
        flex-wrap: wrap;
        transition: bottom 0.5s ease;
    }

    .font {
        font-size: 1em;
    }

    .bold{
        font-size: 1em;
    }

    .find-me {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .sidebar div {
    width: 50%;
    padding: 5px 0;
    text-align: center;
}

    .active {
        /* top: -75px; */
        left: 0;
    }

    .active .sidebar {
        bottom: 0;
    }
}
